<id>settings</id>
<parent>wsa</parent>
<title>Settings</title>
<menu>
    <option type='toggle' command='../main/skipCheckSSLCurrent.sh'>SSL Skip</option>
    <option type='toggle' command=''>HTTP Verify</option>
    <option type='toggle' command=''>Enable/Disable Runtime</option>
    <option type='toggle' command=''>Enable/Disable OPC-UA & IO Check Services</option>
    <option type='toggle' command=''>Retain settings</option>
</menu>